@model Project.Models.AccountViewModel
@{
    ViewBag.Title = "editAccount";
}

@section cssadmin{
    <link rel="stylesheet" href="~/Content/admin.styles.css">
    <link rel="stylesheet" href="~/Content/admin.add.css">
}
<section id="content" class="container">
    @using (Html.BeginForm("Edit", "Account", FormMethod.Post))
    {
        <h1>Bảng nhập thông tin cho tài khoản</h1>
        <p>Vui lòng nhập đầy đủ thông tin.</p>
        @Html.ValidationSummary(true);
        @Html.TextBoxFor(m => m.account.id, new { @style = "display: none;" });
        <label for="usename"><b>Tên đăng nhập</b></label>
        @Html.TextBoxFor(m => m.account.username, new { value = Model.account.username, disabled = "disabled" })

        <label for="password"><b>Mật khẩu</b></label>
        @Html.PasswordFor(m => m.account.password, new { value = Model.account.password, required = "required", autofocus = "autofocus" })

        <label for="fullname"><b>Họ và tên</b></label>
        @Html.TextBoxFor(m => m.account.fullname, new { value = Model.account.fullname, required = "required" })

        <label for="role"><b>Quyền</b></label>
        <select name="role_id">
            @foreach (var item in Model.listRole)
            {
                <option value="@item.id">@item.role_name</option>
            }
        </select>
        <div class="clearfix">
            <input type="submit" name="add" value="Sửa" class="btnAdd">
        </div>
    }
</section>

